<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Ma page Profil</title>
        <link href="{{ url_for('static', filename='hellostyle.css') }}" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <h1>Ici c'est Paris</h1>
        <p>Because let’s be very clear: strong men – men who are truly role models – don’t need to put down women to make themselves feel powerful. People who are truly strong lift others up. People who are truly powerful bring others together. And that is what we need in our next president. We need someone who is a uniting force in this country. We need someone who will heal the wounds that divide us, someone who truly cares about us and our children, someone with strength and compassion to lead this country forward.</p>
    </body>
</html>
